<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDQvsXONr4rzjWTA2YP9zjvCAxaAIR5LO8</string>
	<key>GCM_SENDER_ID</key>
	<string>1052567240502</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>daz.ZingMP3Demo</string>
	<key>PROJECT_ID</key>
	<string>zingmp3demo</string>
	<key>STORAGE_BUCKET</key>
	<string>zingmp3demo.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1052567240502:ios:0883c728dd0ad0dbbbfd97</string>
</dict>
</plist>